/* General Values */
/* UTOO Orange color: #ed7e21;
*/

body {
  background-image: url("../images/body-bg.png");
  font-family: 'Arial', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, span, table, tr, td, th {

}

p, ul, ol, li, span, table, tr, td, th {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
}

p {
  font-size: 1.4em;
}

strong {
  font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 64px;
  line-height: .9em;
}

a.utoo-orange:link, a.utoo-orange:visited {
  color: #ed7e21;
}

.utoo-orange {
  color: #ed7e21;
}

.btn.btn-primary {
    color: #ffffff;
    background-color: #ed7d21;
    background-image: none;
    border-color: #cb6218 #cb6218 #cb6218;
    border-radius: 35px;
    font-size: 1em;
    padding: 15px 25px;
}
.btn.btn-primary:hover {
    color: #ffffff;
    background-color: #d27122;
    background-image: none;
    border-color: #cb6218 #cb6218 #cb6218;
}

form .form-group textarea, form .form-group input {
  border: 2px solid #ed7d21;
  font-size: 1em;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: rgba(229, 103, 23, 0.8);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}

.how-it-works, .footer-slider {
  background-color: orange;
  background-image: url(../images/hiw-bg.png);
  color: white;
}

.how-it-works {
  position: relative;
}

 /*Angled Div Effects */

.how-it-works::before{
  content: '';
  width: 100%;
  height: 320px;
  position: absolute;
  background: inherit;
  z-index: 1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-8deg);
}

.how-it-works::after{
  content: '';
  width: 100%;
  height: 320px;
  position: absolute;
  background: inherit;
  z-index: 1;
  transform-origin: left bottom;
  transform: skewY(8deg);
  margin-top: -280px;
}

.how-it-works .content {
    position: relative;
    z-index: 2;
}

.footer-slider {
  position: relative;
}

.footer-slider::before{
  content: '';
  width: 100%;
  height: 280px;
  position: absolute;
  background: inherit;
  z-index: 1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-8deg);
}

.footer-carousel {
  position: relative;
  z-index: 3;
}

/* End Angled Div Effects */

.how-it-works img {
  margin: 0 auto;
}

.how-it-works h2 {
  margin-top: 2em;
  margin-bottom: 1.5em;
}

.how-it-works p {
  position: relative;
  z-index: 2;
  color: #000;
  margin-bottom: 2em;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#mycarousel {
  position: relative;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
  CSS from:       http://codepen.io/transportedman/pen/NPWRGq
  and:            http://stackoverflow.com/questions/18548731/bootstrap-3-carousel-fading-to-new-slide-instead-of-sliding-to-new-slide
  Inspired from:  http://codepen.io/Rowno/pen/Afykb
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-captions .caption {
  position: relative;
  display: none;
  z-index: 2;
}

.carousel-captions .caption.visible {
  display: block;
}

.carousel-captions .caption.visible2 {
  display: block;
}

.carousel-captions .caption.left {
  position: absolute;
  top: 37%;
  width: 40%;
  left: 10%;
}

.carousel-captions .caption.left-top {
  position: absolute;
  top: 15%;
  width: 40%;
  left: 10%;
}

.carousel-captions .caption.right {
  position: absolute;
  top: 30%;
  width: 40%;
  left: 50%;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

/* Navigation */

.footer-icons a i {
  color: #f36e20;
}

.footer-icons li {
  list-style: none;
  display: inline;
  margin-right: 25px;
}

.topbar {
  position: relative;
  width: 100%
}
.main-navigation {
  width: 40%;
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: 3;
}

.scroll-navigation {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 4;
  background-color: white;
  padding-top: 8px;
}

.scroll-navigation-inner {
  padding-left: 10%;
  position: relative;
}

#navigation, #navigation2 {
  background-color: #FF5F00;
  display: none;
  width: 240px;
  padding: 20px 0 10px;
}

#navigation ul li, #navigation2 ul li {
  list-style: none;
  color: white;
}

#navigation a, #navigation2 a {
  color: white;
}

#navigation li:hover, #navigation li:focus, #navigation2 li:hover, #navigation2 li:focus {
  list-style: disc;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #FF5F00;
}

.top-social-icons {
  text-align: right;
  position: absolute;
  top: 30px;
  width: 40%;
  right: 10%;
  z-index: 3;
}

.scroll-navigation {
  display: none;
}

#navigation2 {
  position: absolute;
}

.scroll-navigation .top-social-icons {
  top: 20px;
}

#wrap {
  overflow: hidden;
}

.scroll-navigation img {
  width: 60px;
  margin-top: -18px;
}

.top-social-icons a i {
  color: #FF5F00;
}


/* Click to play video section */
#video-banner {
  width: 100%;
}

#video-banner img {
  width: 100%;
}

/* Tariff Section */
.row.tariff, .row.drive-with-utoo {
  padding: 65px 0;
}

.row.drive-with-utoo {
  overflow: hidden;
}

.row.tariff {
  overflow: hidden;
}

.cars-image {
  margin-top: -140px;
}

.form-description {
  margin-top: 2em;
}

table {
    border-collapse: collapse;
}

table, th, td {
    padding: 20px;
    text-align: center;
}

.panel {
  border-radius: 15px;
  border: 2px solid #ed7e21;
}

.table.table-bordered tr td{
  border: 2px solid #ed7e21;
}


/* Footer section */
#footer {
  background-color: #000;
  color: white;
  padding: 35px 0 30px;
  position: relative;
  z-index: 4;
}

.footer-app-store-links img {
  margin-right: 20px;
  margin-top: 20px;
  outline: 1px solid #222;
}

.driver-image {
  margin-top: -325px;
  position: relative;
  z-index: 3;
}

/* Download icon CTA row */
.download-link-section {
  width: 100%;
  position: relative;
}

.download-icon-cta {
  background-image: url("../images/body-bg.png");
  position: absolute;
  padding: 20px 0 8px;
  z-index: 2;
}

.download-icon-cta .message {
  width: 80%;
  float: left;
}

.download-icon-cta .icon-holder {
  width: 20%;
  float: left;
}

.download-icon-cta .icon-holder {
  padding-top: 15px;
}

.download-icon-cta ul {
    top:0;
    bottom:0;
    margin:auto;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle
}

.download-icon-cta li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.download-icon-cta p {
  font-size: 2em;
}

.footer-link a:link, .footer-link a:visited {
  font-family: arial, sans-serif;
  font-size: .8em;
  color: #555;
  margin-top: 60px;
  font-size: 14px;
}

/* Media Queries */
/* xs */
@media(max-width:767px){
  #footer {
    text-align: center;
  }
  #footer .footer-icons, #footer h4 {
    text-align: center;
    margin-top: 40px;
  }
  .download-icon-cta {
    right: 10%;
    bottom: 10px;
    width: 80%;
  }
  .download-icon-cta .message {
    width: 70%;
  }

  .download-icon-cta p {
    font-size: 1em;
  }

  .download-icon-cta .icon-holder {
    width: 30%;
    padding-top: 0px;
  }

  .download-icon-cta .icon-holder img {
    width: 24px;
  }
  #tariff table, #tariff tr, #tariff td {
    font-size: 16px;
  }
  .cars-image {
    margin-top: 0px;
  }
  h2 {
    font-size: 48px;
  }
  .row.tariff {
    padding-top: 110px;
  }
  .footer-icons {
    padding-left: 0;
  }
  .footer-icons li {
    margin-left: 25px;
  }
}
/* sm */
@media(min-width:768px){
  #footer {
    text-align: center;
  }
  #footer .footer-icons, #footer h4 {
    text-align: center;
  }
  #footer .footer-icons {
    margin-top: 25px;
  }

  .download-icon-cta {
    right: 10%;
    bottom: 30px;
    width: 80%;
  }
  .download-icon-cta .message {
    width: 70%;
  }

  .download-icon-cta p {
    font-size: 1em;
  }

  .download-icon-cta .icon-holder {
    width: 30%;
    padding-top: 0px;
  }
  .download-icon-cta .icon-holder img {
    width: 32px;
  }
  .cars-image {
    margin-top: 0px;
  }
  h2 {
    font-size: 48px;
  }
  .row.tariff {
    padding-top: 110px;
    margin-right: 0;
  }
}
/* md */
@media(min-width:992px){
  #footer h4 {
    text-align: center;
  }
  .download-icon-cta {
    right: 20%;
    bottom: 30px;
    width: 60%;
  }
  .download-icon-cta p {
    font-size: 1.7em;
  }
  .download-icon-cta .icon-holder img {
    width: 58px;
  }
  h2 {
    font-size: 48px;
  }
  .row.tariff {
    padding-top: 140px;
  }
}
/* lg */
@media(min-width:1200px){
  #footer h4 {
    text-align: right;
  }
  .download-icon-cta {
    right: 20%;
    bottom: 40px;
    width: 60%;
  }
  .download-icon-cta p {
    font-size: 2em;
  }
  .download-icon-cta img {
    margin-top: 10px;
  }
  .footer-icons {
    float: right;
  }
  .row.tariff {
    padding-top: 220px;
  }
  .footer-icons li {
    margin-left: 25px;
    margin-right: 0;
  }
  .cars-image {
    margin-top: -180px;
  }
}

.ting-branding {
  color: yellow;
  font-size: 1em;
}
